<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/index.js"></script>
    script(defer src="../js/fetch.js")
    <title>JOIN</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-logo"><a href="/"> Code Academy</a></div>
        <div class="header-nav">
          <div class="header-nav-box">HTML</div>
          <div class="header-nav-box">CSS</div>
          <div class="header-nav-box">JAVA SCRIPT</div>
        </div>
        <div class="login">
          <a href="/login">LOGIN</a>
        </div>
        <div class="join">
          <a href="/join">JOIN</a>
        </div>
      </header>
      <main>
        h1 JOIN OUR WEBSITE
        <br />
        <div class="form-container">
          <form action="/join" method="post">
            <input class="email" type="text" name="email" placeholder="E-MAIL" /><br />
            <input class="password" type="passoword" name="password" placeholder="PASSWORD" /><br />
            <input type="submit" value="JOIN" />
          </form>
        </div>
      </main>
      <footer>www.codeAcademy.com</footer>
    </div>
  </body>
</html>
