<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/index.js"></script>
    <title>Log In</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-logo"><a href="../index.html"> Code Academy</a></div>
        <div class="header-nav">
          <div class="header-nav-box">HTML</div>
          <div class="header-nav-box">CSS</div>
          <div class="header-nav-box">JAVA SCRIPT</div>
        </div>
        <div class="login">
          <a href="./html/login.html">LOGIN</a>
        </div>
      </header>
      <main>
        <br />
        <div class="form-container">
          <form action="/login" method="post">
            <input type="text" name="id" placeholder="ID" /><br />
            <input type="passoword" name="password" placeholder="PASSWORD" /><br />
            <input type="submit" value="submit" />
          </form>
        </main>
        </div>
      </main>

      <footer>www.codeAcademy.com</footer>
    </div>
  </body>
</html>
