<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/index.js"></script>
    script(defer src="../js/checkDb.js")
    <title>Welcome Join</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-logo"><a href="/"> Code Academy</a></div>
        <div class="header-nav">
          <div class="header-nav-box">HTML</div>
          <div class="header-nav-box">CSS</div>
          <div class="header-nav-box">JAVA SCRIPT</div>
        </div>
        <div class="login">
          <a href="/login">LOGIN</a>
        </div>
        <div class="join">
          <a href="/join">JOIN</a>
        </div>
      </header>
      main
        br
        h1 Thank you for your joining 🐱‍👤 #{email}
        P(id="joinP") You are our #{id} Client!
        .dbData           
        form(action="/edit", method="post")
        input(type="submit" value="CHECK DB" id="check")
      <footer>www.codeAcademy.com</footer>
    </div>
  </body>
</html>


