.form-container {
  border-radius: 30px;
  margin-top: 150px;
  display: inline-block;
  position: relative;
  left: 480px;
  background-color: powderblue;
  padding: 25px;
}

form {
  text-align: center;
}
input {
  margin: 13px;
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  padding: 0 10px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: rgba(255, 0, 0, 0.514);
}
input[type='submit'] {
  padding: 0 15px;
  background-color: salmon;
  color: white;
  height: 28px;
  width: 80px;
  transition: all 0.2s ease-in-out;
}
input[type='submit']:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.asyncSend {
  background-color: rgba(66, 189, 35, 0.582);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  position: relative;
  left: 487px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}
.asyncSend:hover {
  color: cornflowerblue;
  padding: 9px 19px;
  cursor: pointer;
}
.active {
  display: none;
}
.ajaxText {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  bottom: 40px;
  left: 190px;
}
.joinH1 {
  text-align: center;
  position: relative;
  top: 100px;
  color: rgba(0, 0, 0, 0.7);
}
