* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /*첫번째 해결방법 padding-top:60px 주기 */
}
.wrap {
  width: 1200px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.04);
  height: 1000vh;
  position: relative;
}
header {
  height: 70px;
  width: 1200px;
  background-color: lightgrey;
  padding-top: 9px;
  position: fixed;
  transition: 0.5s ease;
}
.changeHeader {
  background-color: red;
  transition: 1s ease;
}
.header-logo {
  margin-left: 20px;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 30px;
}
.header-nav {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 10px;
  color: royalblue;
  font-weight: bold;
  margin-left: 80px;
  width: 800px;
  text-align: center;
}
.header-nav-box {
  display: inline-block;
  margin: 0 100px;
}
main {
  height: 500px;
  position: relative;
  top: 65px;
  z-index: -1; /*나중에 다시 설명 */
}
.logoImg {
  margin-top: 10px;
  width: 100%;
  height: 80%;
}
footer {
  position: fixed;
  width: 1200px;
  height: 60px;
  background-color: steelblue;
  bottom: 0px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 800;
}
